<a href="https://colab.research.google.com/github/KimJin-Yong/BaekJoon/blob/main/baekjoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('|\_/|')
print('|q p|   /}')
print('( 0 )"""\\')
print('|"^"`    |')
print('||_/=\\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [ ]:
# baekjoon 10815 - 카드찾기

from collections import Counter

lengHold = int(input())
hold = list(map(int, (input().split())))
lengFind = int(input())
find = list(map(int, (input().split())))

count = Counter(hold)

for i in range(lengFind):
    if find[i] in count:
        print(1, end=" ")
    else:
        print(0, end=" ")

3
1 2 3
5
1 2 3 4 5
1 1 1 0 0

In [ ]:
# baekjoon 2588 - 3자리수 곱셈

while True:
  try:
    a=int(input())
    b=input()
    for i in range(len(b)):
      print(int(b[-i-1]) * a)
    print(a*int(b))
  except:
    break

123
234
3
492
369
246
28782
0

0

In [ ]:
# baekjoon 1712 - 손익분기

a,b,c = map(int, (input().split()))

if b >= c:
  print(-1)
else:
  i = (a//(c-b)) + 1
  print(i)

1 2 3
2

In [ ]:
# baekjoon 2480 - lottery for dice

a = list(map(int, input().split()))
a.sort()
if a[0] == a[1] == a[2]:
  print(a[0]*1000 + 10000)
elif a[0] == a[1] or a[1] == a[2]:
  print(1000 + a[1]*100)
else:
  print(a[2]*100)

1 2 3 4 5
300

In [ ]:
# baekjoon 2292

num = int(input())
fun = 1
i = 1
while fun < num:
  fun = fun + 6*i
  i += 1
print(i)

13
3

In [ ]:
# baekjoon 1193

X = int(input())
n=1
while (2*X) > (n*(n+1)):
  n+=1
print(n)
sum = n+1
if n%2 ==1:
  a = (n*(n+1)//2-X) + 1
  b = sum - a
else:
  b = (n*(n+1)//2-X) + 1
  a = sum - b

result = str(a) + "/" + str(b)
print(result)

5
3
2/2

In [ ]:
# baekjoon 2869

import math

a,b,v=map(int, input().split())
day = math.ceil((v-a)/(a-b)) + 1
print(day)

1 2 3
-1

In [ ]:
# beakjoon 10250

import math

T = int(input())
for i in range(T):
  h,w,n = map(int, input().split())
  room = math.ceil(n/h)
  if room < 10:
    room = "0"+str(room)
  print(((n-1)%h)+1, room, sep="")

3
1 2 3
103
4 3 5
102
100 100 100
10001

In [ ]:
'''
[1][5][15][35][70]
[1][4][10][20][35]
[1][3][6][10][15]
[1][2][3][4][5]
'''

# beakjoon 2775

result = 0
def recur(k,n):
    global result
    if n ==0:
        return k
    if k ==1:
        return 1
    return recur(k-1,n) + recur(k,n-1)

T = int(input())
for i in range(T):
    n=int(input())
    k=int(input())
    print(recur(k,n))

4
3
2
5
2
4
20
6
5
330
4
5
126

In [ ]:
# baekjoon 2775 shrtcode

T = int(input())

for _ in range(T):
  k = int(input())
  n = int(input())
  people = [ i for i in range(1, n+1)]
  for __ in range(k):
    for j in range(1,n):
      people[j] += people[j-1]

    print(people[-1])

3
1
2
3
5
4
84
10
10
167960

In [ ]:
# baekjoon 2839

N = int(input())
result = 0
for i in range(5):
  if (N-3*i)%5 == 0:
    if N-3*i < 0:
      continue
    result = (N-3*i)//5 + i
    print(result)
  else:
    continue
if result == 0:
  print(-1)

10
2

In [ ]:
# baekjoon 10757

while True:
  try:
    a = int(input())
    b = int(input())
    print(a+b)
  except:
    break

3
4
7

In [ ]:
# baekjoon 1978

import math

N = int(input())
List = list(map(int, (input().split())))

result = 0
for i in range(N):
  error = 0
  if List[i] == 1:
    continue
  #Count Prime Num
  for _ in range(2, math.trunc(math.sqrt(List[i]))+1, 1):
    if List[i]%_ == 0:
      error +=1
  if error == 0:
    result += 1

print(result)

4
1 3 5 7
3

In [ ]:
# baekjoon 2581

import math
M = int(input())
N = int(input())

result = []
for i in range(M,N+1):
  error = 0
  if i == 1:
    continue
  # append if i is prime_num
  for _ in range(2, math.trunc(math.sqrt(i))+1, 1):
    if i%_ == 0:
      error += 1
  if error == 0:
    result.append(i)

if result == []:
  print(-1)
else:
  print(sum(result), '\n', result[0])

60
100
620 61

In [ ]:
# baekjoon 11653

import math

N = int(input())

def func(num):
  if num == 1:
    return ''
  for i in range(2, math.trunc(math.sqrt(num)+1)):
    if num%i == 0:
      print(i)
      return func(num//i)
  return num

print(func(N))

72
2
2
2
3
3

In [ ]:
# 11653 short code

N=int(input());a=2
while N>1:
 if N%a:a+=1
 else:print(a);N/=a

10
2
5

In [ ]:
# baekjoon 1929

import math

M, N = map(int, input().split())

for i in range(M,N+1):
  error = 0
  if i == 1:
    continue
  for _ in range(2, math.trunc(math.sqrt(i))+1, 1):
    if i%_ == 0:
      error += 1
      break
  if error == 0:
    print(i)

3 16
3
5
7
11
13

In [ ]:
# baekjoon 4948 - 베르트랑 공준

import math

result = []
for i in range(2, 2*(123456)+1):
  error = 0
  for j in range(2, math.trunc(math.sqrt(i))+1):
    if i%j == 0:
      error += 1
      break
  if error == 0:
    result.append(i)

while True:
  n = int(input())
  if n == 0:
    break
  for _ in result:
    if n < _ :
      s = result.index(_)
      break
  for __ in result[s:]:
    if __ > 2*n:
      a = result.index(__)-1
      break
    if 2*n > result[-1]:
      a = result.index(result[-1])
      break
    print(a-s+1)

10
4
3
1
2
1
1
1
0

In [ ]:
# 강한 골드바흐 추측, baekjoon 9020

import math
l = []
for i in range(2, 10000):
  error = 0
  for j in range(2, math.trunc(math.sqrt(i))+1):
    if i%j == 0:
      error = 1
      break
  if error == 0:
    l.append(i)

T = int(input())
for _ in range(T):
  n = int(input())

  # check range of searching prime num
  a = l.index(l[-1])
  for __ in l:
    if __ > n:
      a = l.index(__) - 1
      break

  for x in range(n//2, 0, -1):
    if (x in l[:a]) & (n-x in l[:a]):
      print(x, n-x)
      break

2
100
47 53
500
229 271

In [ ]:
# baekjoon 10872: factorial

def fac(N):
  if N == 0:
    return 1
  else:
    return N*fac(N-1)

a = int(input().strip("!"))
print(fac(a))

10!
3628800

In [ ]:
# baekjoon 10870: Fibonacci

def fib(n):
  if n ==0:
    return 0
  if n ==1:
    return 1
  else:
    return fib(n-1) + fib(n-2)

a = int(input())
print(fib(a))

20
6765

In [ ]:
# beakjoon 17478

last = ''
first = ''
def rec(n, r):
  global last, first
  tab = '____'
  a = "어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.\n"
  b = '"재귀함수가 뭔가요?"\n'
  c = '"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.\n' + tab*(n-1) + '마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.\n' + tab*(n-1) + '그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."\n'
  d = '"재귀함수는 자기 자신을 호출하는 함수라네"\n'
  e = '라고 답변하였지.\n'
  if n == 1:
    return a + b+ c + first + r*tab + b + r*tab + d + r*tab + e + last + e
  else:
    first = (n-1)*tab + b + (n-1)*tab + c + first
    last = last + (n-1)*tab + e
    return rec(n-1, r)

N = int(input())
print(rec(N, N))

4
어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.
"재귀함수가 뭔가요?"
"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
____"재귀함수가 뭔가요?"
____"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
____마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
____그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
________"재귀함수가 뭔가요?"
________"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
________마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
________그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
____________"재귀함수가 뭔가요?"
____________"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
____________마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
____________그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
________________"재귀함수가 뭔가요?"
________________"재귀함수는 자기 자신을 호출하는 함수라네"
________________라고 답변하였지.
____________라고 답변하였지.
________라고 답변하였지.
____라고 답변하였지.
라고 답변하였지.

In [ ]:
# 17478 short code

p=print
def r(i):
	s='____'*i;p(s+'"재귀함수가 뭔가요?"')
	if i==n:p(s+'"재귀함수는 자기 자신을 호출하는 함수라네"')
	else:p(f'''{s}"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
{s}마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
{s}그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."''');r(i+1)
	p(s+'라고 답변하였지.')
n=int(input())
p('어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.')
r(0)

4
어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.
"재귀함수가 뭔가요?"
"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
____"재귀함수가 뭔가요?"
____"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
____마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
____그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
________"재귀함수가 뭔가요?"
________"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
________마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
________그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
____________"재귀함수가 뭔가요?"
____________"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
____________마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
____________그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
________________"재귀함수가 뭔가요?"
________________"재귀함수는 자기 자신을 호출하는 함수라네"
________________라고 답변하였지.
____________라고 답변하였지.
________라고 답변하였지.
____라고 답변하였지.
라고 답변하였지.

In [ ]:
# baekjoon 15552

a = int(input())
for i in range(a):
  A, B = map(int, input().split())
  print(A+B)

5
1 1
2
12 34
46
5 500
505
40 60
100
1000 1000
2000

In [ ]:
# baekjoon 2741, 2742

N = int(input())
#for i in range(N): print(i+1)
for i in range(N, 0, -1):
  print(i)

5
5
4
3
2
1

In [ ]:
# baekjoon 11021, 11022

T = int(input())

for i in range(T):
  a,b = map(int, input().split())
  print(f'Case #{i+1}: {a} + {b} =', a+b)

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

In [ ]:
# baekjoon 2438, 2439

N = int(input())
for i in range(N):
  print((N-(i+1))*' ', (i+1)*'*', sep = '')

5
    *
   **
  ***
 ****
*****

In [ ]:
# baekjoon 10871 - str list print

N,X=map(int, input().split())
l=list(map(int, (input().split())))
result = ''
for i in range(len(l)):
  if l[i] < X:
    result += str(l[i]) + " "
print(result)

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [ ]:
# baekjoon 10951, 10952

while True:
  try:
    a,b = map(int, input().split())
    print(a+b)
  except:
    break

while True:
  a,b = map(int, input().split())
  if (a and b) == 0:
    break
  print(a+b)

1 1
2
2 3
5

In [ ]:
# baekjoon 1110

n = input()
if len(n) == 1: n += '0'
stop = n

result = 0
while True:
  a = str(int(n[0])+int(n[1]))
  n = n[1] + a[-1]
  result += 1
  if n == stop: break
print(result)

71
12

In [ ]:
# baekjoon 10818

n = int(input())
l = list(map(int, input().split()))
print(min(l), max(l))

5
20 10 35 30 7
7 35

In [ ]:
# baekjoon 2562

l = []
for i in range(9):
  l.append(int(input()))
print(max(l), l.index(max(l))+1, sep='\n')

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
# baekjoon 2577

a = int(input())
b = int(input())
c = int(input())

x = str(a*b*c)
for i in range(10):
  print(x.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
# baekjoon 3052
a = []
for i in range(10):
  n = int(input())
  a.append(n%42)
print(len(set(a)))

39
40
41
42
43
44
82
83
84
85
6

In [ ]:
# baekjoon 1546

n=int(input())
l = list(map(float, input().split()))
print(sum(l)/len(l)/max(l)*100)

5
1 2 4 8 16
38.75

In [ ]:
# baekjoon 8958

n = int(input())
for i in range(n):
  l=0
  a=list(input().split('X'))
  for j in range(len(a)):
    l = l + (len(a[j])*(len(a[j])+1))//2
  print(l)

1
OXOOXOOO
10

In [ ]:
# baekjoon 4344

def avr(n):
  return round(sum(n)/len(n), 3)

c = int(input())
for i in range(c):
  upper = 0
  a = list(map(int, input().split()))
  b = a.pop(0)
  for j in range(b):
    if a[j] > avr(a):
      upper += 1
  print('{:.3f}%'.format(round(upper/len(a)*100, 3)))

2
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%

In [ ]:
# baekjoon 4673

def d(x):
  return x + x//1000 + (x%1000)//100 + (x%100)//10 + x%10

a = []
for i in range(1, 10000):
  a.append(d(i))

a.sort()
for j in range(1, len(a)):
  if j >= 10000:
    break
  if j not in a:
    print(j)

In [ ]:
# baekjoon 1065

n = int(input())
nList = []
for i in range(1,n+1):
  if i < 100:
    nList.append(i)
  elif i//100 + i%10 == 2*((i%100)//10):
    nList.append(i)
print(len(nList))

500
119

In [ ]:
# baekjoon 11654 - 아스키코드 반환
print(ord(input()))
# chr() - code to character

z
122

In [ ]:
# baekjoon 11720

result = 0
n = int(input())
string = input()
for i in range(n):
  result += int(string[i])
print(result)

11
10987654321
46

In [ ]:
# baekjoon 10809
# small character in ascii -> a=97, z=122

s = input()
result = []
for i in range(97, 123):
  if chr(i) in s:
    result.append(s.index(chr(i)))
  else:
    result.append(-1)
print(" ".join(map(str, result)))

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [ ]:
# baekjoon 2675

T = int(input())
for i in range(T):
  n, r = map(str, input().split())
  n = int(n)
  result = ''
  for i in range(len(r)):
    result += n*r[i]
  print(result)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [ ]:
# baekjoon 2447

N = int(input())
def star(n, s):
  if n == 1:
    return '\n'.join(s)
  result = []
  # make 3*3 bigger pattern by using n-1th func
  for i in range(3*len(s)):
    # make empty space
    if 3*len(s)//3 <= i < 2*3*len(s)//3:
      result.append(s[i%len(s)] + ' '*len(s) + s[i%len(s)])
    else: result.append(s[i%len(s)] * 3)
  return star(n//3, result)
print(star(N//3, ['***', '* *', '***']))

27
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************
*********         *********
* ** ** *         * ** ** *
*********         *********
***   ***         ***   ***
* *   * *         * *   * *
***   ***         ***   ***
*********         *********
* ** ** *         * ** ** *
*********         *********
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************

In [ ]:
# baekjoon 11729 - Hanoi

n = int(input())
print(pow(2,n)-1)

result = []
def hanoi(n, a, b, c):
  if n == 1:
    result.append(f'{a} {c}')
  else:
    return hanoi(n-1, a, c, b), result.append(f'{a} {c}'), hanoi(n-1, b, a, c)
hanoi(n, 1, 2, 3)
print('\n'.join(result))

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3

In [ ]:
# baekjoon 1157

s = input().upper()
alpha = {}
max = count = 0
for i in range(ord('A'), ord('Z')+1):
  alpha.update({chr(i):s.count(chr(i))})
for x, y in alpha.items():
  if y > max:
    count = 0
    result = x
    max = y
  elif y == max:
    count += 1

if count == 0:
  print(result)
else:
  print('?')

Mississipi
?

In [ ]:
# baekjoon 1152

s = input().strip().split()
print(len(s))

 naive string
2

In [ ]:
# baekjoon 2908 - 역순정렬

a,b = map(str, input().split())
Ra = a[::-1]
Rb = b[::-1]
print(max(int(Ra), int(Rb)))

734 893
893 734
437

In [ ]:
# baekjoon 5622 - 다이얼

s = input()
t = 0
for i in s:
  if ord(i) < ord('S'):
    t += (ord(i) - ord('A'))//3 + 3
  elif ord(i) < ord('Z'):
    t += (ord(i) - ord('A') - 1)//3 + 3
  else:
    t += (ord(i) - ord('A') - 2)//3 + 3
print(t)

Z
11

In [ ]:
# baekjoon 2941

s = input()
List = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
for i in List:
  s = s.replace(i, 'X')
print(len(s))

ljes=njak
XeXXak

In [ ]:
# baekjoon 1316

n = int(input())
sum = 0
for i in range(n):
  s = input()
  char = [s[0]]
  for j in range(1, len(s)):
    if s[j] != s[j-1]:
      char.append(s[j])
  for x in char:
    if char.count(x) != 1:
      sum -= 1
      break
print(n+sum)

5
ab
aa
aca
ba
bb
4

In [ ]:
# baekjoon 2798

a,b = map(int, input().split())
L = list(map(int, input().split()))
max = 0
for i in range(a):
  x = L[i]
  for j in range(i+1, a):
    y = L[j]
    for k in range(j+1, a):
      z = L[k]
      if b < x+y+z:
        continue
      elif x+y+z > max:
        max = x+y+z
print(max)

10 500
93 181 245 214 315 36 185 138 216 295
497

In [ ]:
# baekjoon 2231
# ans 198 = 1 + 9 + 8 + 198

num = int(input())
ans = 0
result = 0
while result != num:
  ans += 1
  result = ans + ans%10 + (ans%100)//10 + (ans%1000)//100 + (ans%10000)//1000 + (ans%100000)//10000 +(ans%1000000)//100000
  if ans >= num:
    ans = 0
    break
print(ans)

1000000
0

In [ ]:
# baekjoon 7568

C = int(input())
L = []
for i in range(C):
  w, h = map(int, input().split())
  L.append([w,h])

ans = []
for i in L:
  rank = 1
  for j in L:
    if j[0] > i[0] and j[1] > i[1]:
      rank += 1
  ans.append(str(rank))

print(' '.join(ans))

5
55 185
58 183
88 186
60 175
46 155
2 2 1 2 5

In [ ]:
# baekjoon 1018 - chess board

c, r = map(int, input().split())

m = []
for i in range(c):
  s = input()
  mc = []
  for j in s:
    mc.append(j)
  m.append(mc)

ans = 64
for i in range(c-7):
  for j in range(r-7):
    result1 = 0
    result2 = 64
    col = m[i][j]

    for _ in range(i, i+8):
      for __ in range(j, j+8):
        if (_-i + __-j) % 2 == 0 and m[_][__] != col:
          result1 += 1
          result2 -= 1
        elif (_-i + __-j) %2 == 1 and m[_][__] == col:
          result1 += 1
          result2 -= 1

    result = min(result1, result2)
    if result < ans:
      ans = result

print(ans)

9 23
BBBBBBBBBBBBBBBBBBBBBBB
BBBBBBBBBBBBBBBBBBBBBBB
BBBBBBBBBBBBBBBBBBBBBBB
BBBBBBBBBBBBBBBBBBBBBBB
BBBBBBBBBBBBBBBBBBBBBBB
BBBBBBBBBBBBBBBBBBBBBBB
BBBBBBBBBBBBBBBBBBBBBBB
BBBBBBBBBBBBBBBBBBBBBBB
BBBBBBBBBBBBBBBBBBBBBBW
31

In [ ]:
## baekjoon 1026

s = int(input())
a = list(map(int, input().split()))
b = list(map(int, input().split()))

a.sort()
b.sort(reverse=True)

sum = 0
for i in range(s):
  sum += a[i]*b[i]

print(sum)

3
1 1 3
10 30 20
80

In [ ]:
# baekjoon 1436

n = int(input())
six = 666
count = 0

while True:
  if '666' in str(six):
    count +=1
  if count == n:
    print(six)
    break
  six += 1

500
166699

In [ ]:
# beakjoon 2738 - matrix addition
n, m = list(map(int, input().split()))

mat1 = []
mat2 = []
for i in range(n):
  mat1.append(list(map(int, input().split())))
for i in range(n):
  mat2.append(list(map(int, input().split())))

mat = []
for i in range(n):
  mat.append([])
  for j in range(m):
    mat[i].append([])
    mat[i][j] = mat1[i][j] + mat2[i][j]


for i in mat:
  out = ""
  for j in i:
    out += str(j) + ' '
  print(out)

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
4 4 4
6 6 6
5 6 100

In [ ]:
# baekjoon 2566 - max value of 9 by 9 matrix

a = 0
x = 1
y = 1
for i in range(9):
  row = list(map(int, input().split()))
  for j in range(9):
    if row[j] > a:
      a = row[j]
      x = i +1
      y = j +1
print(a)
print(x, y)

3 23 85 34 17 74 25 52 65
10 7 39 42 88 52 14 72 63
87 42 18 78 53 45 18 84 53
34 28 64 85 12 16 75 36 55
21 77 45 35 28 75 90 76 1
25 87 65 15 28 11 37 28 74
65 27 75 41 7 89 78 64 39
47 47 70 45 23 65 3 41 44
87 13 82 38 31 12 29 29 80
90
4 6

In [ ]:
# baekjoon 2563 - colored paper sheet

paperNum = int(input())
coordinate = []
for i in range(paperNum):
  coordinate.append(list(map(int, input().split())))
coordinate.sort()

result = 100
for i in range(len(coordinate)):
  if i+1 == len(coordinate):
    break
  if (abs(coordinate[i][0] - coordinate[i+1][0]) < 10) and (abs(coordinate[i][1] - coordinate[i+1][1]) < 10):
    result += 100 - (10-abs(coordinate[i][0]-coordinate[i+1][0]))*(10-abs(coordinate[i][1]-coordinate[i+1][1]))
  else:
    result += 100

print(result)

0
100

In [ ]:
# baekjoon 2563

space = []
for i in range(100):
  space.append(['0 '*100])
  space[i] = space[i][0].split()

num = int(input())
paper = []
for i in range(num):
  x, y = map(int, input().split())
  for a in range(10):
    for b in range(10):
      space[x+a][y+b] = '1'

sum = 0
for i in range(100):
  sum += space[i].count('1')
print(sum)

3
1 1
1 1
1 1
100

In [ ]:
# baekjoon 1764

def binarySearch(arr, low, high, x):
  if high >= low:
    mid = (high+low) // 2
    if arr[mid] == x:
      return mid
    elif arr[mid] > x:
      return binarySearch(arr, low, mid-1, x)
    else:
      return binarySearch(arr, mid+1, high, x)
  else:
    return -1

n, m = map(int, input().split())

listen = []
hear = []

for i in range(n):
  listen.append(input())
for j in range(m):
  hear.append(input())

listen.sort()
hear.sort()

result = []
for i in listen:
  both = binarySearch(hear, 0, len(hear)-1, i)
  if both != -1:
    result.append(i)

print(len(result))
for i in result:
  print(i)

3 4
ohhenrie
charlie
baesangwook
obama
baesangwook
ohhenrie
clinton
2
baesangwook
ohhenrie

In [ ]:
# baekjoon 24416 - time complexity of DP and recursive func
num = int(input())

f = []
def fibonacci(n):
  global f
  f.append(1)
  f.append(1)
  for i in range(2, n):
    f.append(f[-2] + f[-1])
  return f[n-1]

print(fibonacci(num), num-2)

30
832040 28

In [ ]:
# baekjoon 14425

n,m = map(int, input().split())

stringList = []
for i in range(n):
  stringList.append(input())

setOfElements = []
for j in range(m):
  setOfElements.append(input())

def binarySearch(arr, low, high, x):
  if high >= low:
    mid = (high+low) // 2
    if arr[mid] == x:
      return mid
    elif arr[mid] > x:
      return binarySearch(arr, low, mid-1, x)
    else:
      return binarySearch(arr, mid+1, high, x)
  else:
    return -1

stringList.sort()

result = 0
for i in setOfElements:
  temp = binarySearch(stringList, 0, len(stringList)-1, i)
  if temp != -1:
    result += 1

print(result)

5 11
baekjoononlinejudge
startlink
codeplus
sundaycoding
codingsh
baekjoon
codeplus
codeminus
startlink
starlink
sundaycoding
codingsh
codinghs
sondaycoding
startrink
icerink
4

In [ ]:
import sys
N, M = map(int, input().split())
board = [list(map(int, sys.stdin.readline().split())) for _ in range(N)]
visited = [[0]*M for _ in range(N)]
print(visited, *visited)

3 3
[[0, 0, 0], [0, 0, 0], [0, 0, 0]] [0, 0, 0] [0, 0, 0] [0, 0, 0]

In [ ]:
#baekjoon 2477

a = int(input())
dirMap = []
lengthMap = []
while True:
  try:
    dir, length = map(int, input().split())
    lengthMap.append(length)
    dirMap.append(dir)
  except:
    break
for i in range(len(dirMap)):
  print(dirMap[i])

1
3 1
4 50
2 10

3
4
2

In [ ]:
# baekjoon 10828
import sys

iter = int(input())
stack = []

def dataToCommand(x):
  if x == 'empty':
    return empty()
  elif x == 'top':
    return top()
  elif x == 'size':
    return size()
  elif x == 'pop':
    return pop()

def push(x):
  stack.append(x)

def empty():
  if len(stack) == 0:
    return 1
  else:
    return 0

def top():
  if empty() == 1:
    return -1
  else:
    return stack[-1]

def size():
  if empty() == 1:
    return 0
  else:
    return len(stack)

def pop():
  if empty() == 1:
    return -1
  else:
    return stack.pop()

for i in range(iter):
#  command = sys.stdin.readline().split()
  command = input().split()
  if command[0] == 'push':
    push(int(command[1]))
  else:
    print(dataToCommand(command[0]))

3
push 123
pop
123
pop
-1

In [ ]:
# baekjoon 10773

iter = int(input())

jaemin = []
for i in range(iter):
  num = int(input())
  if num == 0:
    del jaemin[-1]
  else:
    jaemin.append(num)
print(sum(jaemin))

3
123
5
0
123

In [ ]:
# baekjoon 9012

iter = int(input())
for i in range(iter):
  left = 0
  right = 0
  string = input()
  for j in string:
    if j == "(":
      left += 1
    elif j == ")":
      right += 1
    if right > left:
      break
  if right == left:
    print('YES')
  else:
    print('NO')

1
()(()()
NO

In [ ]:
# baekjoon 4949

import re
import sys

sentences = []
while True:
  sentence = input()
  #sentence = sys.stdin.readline().rstrip()
  if sentence == '.':
    break
  sentences.append(sentence)

bracket = re.compile(r'[^ .A-Za-z0-9+]')
for i in sentences:
  data = "".join(bracket.findall(i))
  while ('()' in data) or ('[]' in data):
    data = data.replace('()','')
    data = data.replace('[]','')
  if data:
    print('no')
  else:
    print('yes')

So when I die (the [first] I will see in (heaven) is a score list).
[ first in ] ( first out ).
Half Moon tonight (At least it is better than no Moon at all].
A rope may form )( a trail in a maze.
 Help( I[m being held prisoner in a fortune cookie factory)].
 ([ (([( [ ] ) ( ) (( ))] )) ]).
  .
.
yes
yes
no
no
no
yes
yes

In [ ]:
# baekjoon 1874 - stack

import sys

iter = int(sys.stdin.readline())
high = 0
command = []
stack = []

for i in range(iter):
  pop = int(sys.stdin.readline())
  if pop > high:
    while high != pop:
      high += 1
      command.append('+')
      stack.append(high)
  if pop <= high:
    command.append('-')
    if pop != stack.pop():
      print('NO')
      break
  if i+1 == iter:
    print("\n".join(command))

5
1
2
5
3
NO

In [ ]:
# baekjoon 9184

dp =[[[0]*21 for _ in range(21)] for _ in range(21)]
def w(a,b,c):
  global dp
  if a <= 0 or b <= 0 or c <= 0: return 1
  elif a>20 or b>20 or c>20: return w(20,20,20)

  if dp[a][b][c]: return dp[a][b][c]
  elif a<b and b<c:
    dp[a][b][c] = w(a,b,c-1)+w(a,b-1,c-1)-w(a,b-1,c)
    return dp[a][b][c]
  else:
    dp[a][b][c] = w(a-1,b,c)+w(a-1,b-1,c)+w(a-1,b,c-1)-w(a-1,b-1,c-1)
    return dp[a][b][c]

while True:
  a,b,c = map(int, input().split())
  if a == -1 and b == -1 and c== -1:
    break
  else:
    print(f'w({a}, {b}, {c}) = {w(a,b,c)}')

1 1 1
w(1, 1, 1) = 2
2 2 2
w(2, 2, 2) = 4
10 4 6
w(10, 4, 6) = 523
50 50 50
w(50, 50, 50) = 1048576
-1 7 18
w(-1, 7, 18) = 1
-1 -1 -1

In [ ]:
# baekjoon 1904

num = int(input())
dp = [1,2]
for i in range(num-2):
  dp.append((dp[i] + dp[i+1])%15746)
print(dp[num-1])

5
7

In [ ]:
# baekjoon 9461

dp = [1,1,1,2,2,3]
for i in range(6, 100):
  dp.append(dp[i-5] + dp[i-1])

iter = int(input())
for i in range(iter):
  num = int(input())
  print(dp[num-1])

2
6
3
12
16

In [ ]:
# baekjoon 1912

n = int(input())
series = list(map(int, input().split()))
dp = [0]*n
dp[0] = series[0]
for i in range(1, n):
    dp[i] = max(series[i], dp[i-1]+series[i])
print(max(dp))

10
10 -4 3 1 5 6 -35 12 21 -1
[10, 6, 9, 10, 15, 21, -14, 12, 33, 32]